@import url('http://fonts.googleapis.com/css?family=Righteous');

:root {
  --text-color: #CBE8E7;
  --accent-color: #424242;
  --highlight-color: #EF9D21;
  --background-color: #0B0E29;
}

body {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: .25;
  background-image:url("/sherlock.svg");
  background-size: 100vw;
  background-repeat: repeat-y;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4442;
  padding: 32px;
  border-radius: 30px;
  width: 100vw;
  max-width: 750px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 50px 20px #0002;
}


a {
  text-decoration: none;
  color: var(--text-color)
}
