:root {
  --text-color: #CBE8E7;
  --accent-color: #424242;
  --highlight-color: #EF9D21;
  --background-color: #0B0E29;
}

body {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4444;
  padding: 32px;
  border-radius: 30px;
  width: 100vw;
  max-width: 750px;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: var(--text-color)
}
