.github-banner-container {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.github-banner-item {
  flex: 1 1 0px; /* make all flex items same width */
  text-align: center;
}

.github-banner-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  margin-bottom: 16px;
}

@media screen and (min-width: 500px) {
  .github-banner-image-container {
    height: 100px;
  }
}

.github-banner-item-small img {
  height: 60%;
}

.github-banner-item-large img {
  height: 100%;
}